.logout a:hover {
        color: #ADADAD!important;

    }
	
	
table {
    background-color: rgba(0, 0, 0, 0);
	font: 45px/1 'Source Sans Pro';
      
		font-size:17px;
}
th {
    text-align: left;
}
.table {
    margin-bottom: 20px;
    max-width: 100%;
    width: 100%;
}
.table-bordered {
    border: 1px solid rgb(221, 221, 221);
}

    #container {
        width:918px;
        position: relative;
        margin: 0 auto;
        background:#e73535;
    }


    .carousel-indicators li {
        display: inline-block;
        width: 15px;
        height: 15px;
        text-indent: -999px;
        cursor: pointer;
        background-color: #000;
        border: 0px solid #000;
    }

    .carousel-indicators .active {
        width: 13px;
        height: 13px;
        margin: 0;
        background-color: #fff;
        border: 3px solid #000;
    }


    .slide {
        margin: 0;
        position: relative;
    }

    .slide  h1 {
        font: 45px/1 'Source Sans Pro';
        color: #fff;
        font-weight:bold;
		font-size:17px;
        margin:-30px 0px 0px 140px;
        height:auto;
        line-height:50px;
        padding: 0;
        width:630px;
        text-transform:capitalize;
    }

    .slide  p {
        font: 20px/1 'Source Sans Pro';
        color: #fff;
		font-size:13px;
        margin-top:15px;
        padding: 0;
    }

    .slide > img {
        position: absolute;
        width: 918px;
        height: 358px;


    }

    .slide > .text {
        position: absolute;
        left:0px;
        top: 115px;
    }

    #slide01 > img {
        position: absolute;
        bottom:77px;
        right:285px;
    }

    #slide01 > .text {
        position: absolute;
        left:0px;
        top:115px;
    }

    #slide03 > img {
        position: absolute;
        bottom:77px;
        right:285px;
    }

    #slide03 > .text {
        position: absolute;
        left:0px;
        top:115px;
    }

    #slide04 > img {
        position: absolute;
        bottom:77px;
        right:285px;
    }

    #slide04 > .text {
        position: absolute;
        left:0px;
        top:115px;
    }

    #slide05 > img {
        position: absolute;
        bottom:77px;
        right:285px;
    }

    #slide05 > .text {
        position: absolute;
        left:0px;
        top:115px;
    }

    #slide06 > img {
        position: absolute;
        bottom: 10px;
        right: 20px;
    }

    #slide06 > .text {
        position: absolute;
        left:0px;
        top:115px;
    }

    #pages {
        bottom: 25px;
        left: 400px;
        margin: 0 auto;
        position: absolute;
        width: 150px;
    }

    .bullet {
        background: url(images/page-off.png) center center no-repeat;
        display: block;
        width: 18px;
        height: 18px;
        margin: 0;
        margin-right: 5px;
        float: left;
    }
	.clsLine {
    border-top: 1px solid rgb(220, 220, 220);
    margin: 8px 0;
}

.table {
    margin-bottom: 20px;
    max-width: 100%;
    width: 100%;
}
table {
    background-color: rgba(0, 0, 0, 0);
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
* {
    box-sizing: border-box;
}
.fa-trash:before {
    content: "?";
}
.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size: inherit;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-rendering: auto;
}
* {
    box-sizing: border-box;
}

.box{
    border: 2px solid  #666666 ;
   
	padding: 15px 208px 32px 0px;
    background: #FFFFFF;
    width: 380px;
    border-radius: 25px;
	
}